<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,163},{79,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,81}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,200},{17,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,21},{17,39}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,132},{27,41}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,19},{27,41}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,163},{27,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{27,41}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,169},{29,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,21},{29,39}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,216},{27,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{27,41}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,175},{27,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{27,41}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,219},{27,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,21},{27,39}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,79},{25,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{25,41}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>digits_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,219},{27,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{27,41}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,218},{17,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{17,17}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>gamemenu_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{157,159}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{157,159}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>gamemenu_Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,132},{35,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{35,44}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>gamemenu_Quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,79},{45,51}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{45,51}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>gamemenu_Undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,163},{45,51}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{45,51}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,236}}</string>
                <key>sourceSize</key>
                <string>{176,236}</string>
            </dict>
            <key>selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{75,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,73}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{414,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bb934be0fcc4c069f1cc0ddcb42b7b:e13ad4940272b2c3d0b414752b4aa3e3:106a83dd4377e24c5a593da452bbf75f$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
