<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tt_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,569},{186,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{186,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_EmptyCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,765},{38,43}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,76},{38,43}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_MenuCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{373,286}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{373,286}}</string>
                <key>sourceSize</key>
                <string>{401,300}</string>
            </dict>
            <key>tt_MenuDiff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,765},{153,194}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiff02.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1},{153,194}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiff03.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,183},{153,194}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiff04.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,340},{153,194}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiff05.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,536},{153,194}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiff06.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,197},{153,194}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiffGoldLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,393},{153,194}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuDiffGoldRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,589},{153,194}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{153,194}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,857},{116,147}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{116,147}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_MenuPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,116},{81,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{81,116}}</string>
                <key>sourceSize</key>
                <string>{201,200}</string>
            </dict>
            <key>tt_MenuPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1},{91,113}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{91,113}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>tt_MenuQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,126},{106,127}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{106,127}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_MenuRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{117,123}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,32},{117,123}}</string>
                <key>sourceSize</key>
                <string>{201,201}</string>
            </dict>
            <key>tt_MenuScores.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,379},{140,119}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{140,119}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_MenuSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,857},{136,128}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{136,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_MenuSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,857},{142,127}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{142,127}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_MenuUndo.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,857},{106,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{106,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_Num01.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,197},{40,104}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,40},{40,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_Num02.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,393},{62,106}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{62,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_Num03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,340},{62,108}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{62,108}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_Num04.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,234},{64,104}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{64,104}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_Num05.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,501},{62,106}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{62,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_Num06.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,500},{62,107}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,39},{62,107}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_Num07.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,609},{60,105}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,40},{60,105}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_Num08.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,609},{60,109}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,38},{60,109}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_Num09.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,720},{60,109}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,38},{60,109}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>tt_Selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1},{170,180}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{170,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tt_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{422,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,566}}</string>
                <key>sourceSize</key>
                <string>{422,566}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:550979ac00ee7705e7200f072590b956:bbc2fdd465feb6c7a8a5b923b60007fe:106a83dd4377e24c5a593da452bbf75f$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
