<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{188,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{188,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1034},{40,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,51},{40,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,100},{62,94}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{62,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{62,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{62,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,906},{64,92}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,51},{64,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,196},{62,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,51},{62,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,292},{60,96}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,49},{60,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,972},{60,92}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,51},{60,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,390},{60,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,49},{60,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>digits_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,488},{60,96}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{60,96}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1034},{38,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,78},{38,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gamemenu_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{373,377}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{373,377}}</string>
                <key>sourceSize</key>
                <string>{401,401}</string>
            </dict>
            <key>gamemenu_Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,824},{80,103}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{80,103}}</string>
                <key>sourceSize</key>
                <string>{200,201}</string>
            </dict>
            <key>gamemenu_Quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,706},{106,116}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{106,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gamemenu_Undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,586},{106,118}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{106,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,566}}</string>
                <key>sourceSize</key>
                <string>{422,566}</string>
            </dict>
            <key>selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,945},{180,172}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{180,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{490,1135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bb934be0fcc4c069f1cc0ddcb42b7b:e13ad4940272b2c3d0b414752b4aa3e3:106a83dd4377e24c5a593da452bbf75f$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
