<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,257},{127,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{127,129}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,381},{27,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,33},{27,63}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,381},{43,65}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{43,65}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,386},{43,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{43,65}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,423},{45,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{45,63}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,386},{43,65}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{43,65}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,431},{41,65}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,32},{41,65}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,380},{41,63}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,33},{41,63}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,431},{41,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{41,65}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>digits_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,380},{41,65}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{41,65}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,446},{27,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,52},{27,27}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>gamemenu_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{249,253}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{249,253}}</string>
                <key>sourceSize</key>
                <string>{267,267}</string>
            </dict>
            <key>gamemenu_Pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,381},{55,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{55,70}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>gamemenu_Quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,381},{71,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{71,79}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>gamemenu_Undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{71,81}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{71,81}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,377}}</string>
                <key>sourceSize</key>
                <string>{281,377}</string>
            </dict>
            <key>selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,257},{121,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{121,115}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{536,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bb934be0fcc4c069f1cc0ddcb42b7b:e13ad4940272b2c3d0b414752b4aa3e3:106a83dd4377e24c5a593da452bbf75f$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
