<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tt_Cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1},{125,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{125,129}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_EmptyCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,453},{27,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,50},{27,30}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_MenuCell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,380},{249,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{249,192}}</string>
                <key>sourceSize</key>
                <string>{267,200}</string>
            </dict>
            <key>tt_MenuDiff01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,171},{104,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{104,131}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiff02.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,437},{102,129}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{102,129}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiff03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,255},{102,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiff04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,521},{102,129}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{102,129}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiff05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,304},{102,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiff06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,568},{102,129}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{102,129}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiffGoldLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,388},{102,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{102,131}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuDiffGoldRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,574},{102,129}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{102,129}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,663},{79,100}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{79,100}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_MenuPause.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,723},{54,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{54,77}}</string>
                <key>sourceSize</key>
                <string>{134,133}</string>
            </dict>
            <key>tt_MenuPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{62,76}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{62,76}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>tt_MenuQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,765},{71,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{71,86}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_MenuRate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,705},{78,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{78,84}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>tt_MenuScores.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,89},{95,80}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{95,80}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_MenuSoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,574},{91,87}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{91,87}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_MenuSoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{97,86}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{97,86}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_MenuUndo.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,652},{71,89}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{71,89}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_Num01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,380},{27,71}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,25},{27,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_Num02.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,869},{43,71}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{43,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_Num03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,641},{43,73}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_Num04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,568},{45,71}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{45,71}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_Num05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,574},{43,73}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{43,73}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_Num06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,649},{43,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{43,72}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_Num07.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,942},{41,70}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{41,70}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_Num08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,869},{41,72}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{41,72}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_Num09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{41,72}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,26},{41,72}}</string>
                <key>sourceSize</key>
                <string>{133,134}</string>
            </dict>
            <key>tt_Selection.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,132},{115,121}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{115,121}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>tt_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{281,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,377}}</string>
                <key>sourceSize</key>
                <string>{281,377}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spriteSheet.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:550979ac00ee7705e7200f072590b956:bbc2fdd465feb6c7a8a5b923b60007fe:106a83dd4377e24c5a593da452bbf75f$</string>
            <key>textureFileName</key>
            <string>spriteSheet.png</string>
        </dict>
    </dict>
</plist>
